################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SemisterA-FinalProject/v16
/Backup
/Debug
